.navbar {
  width: 100%;
  background-color: #2c3e50;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Fixes the navbar at the top */
  top: 0; /* Positions it at the top */
  z-index: 1000; /* Ensures it stays above other elements */
}

.logo img {
  display: block;
  padding: 5px;
  max-height: 20px !important; /* Force the height */
  width: auto !important; /* Maintain aspect ratio */
}